<div class="dashboard-container">

    <div id="total-stats" class="statistics">
        <h1 class="title">Total</h1>
        <div class="row">
            <div class="col-4">
                <app-case-card [title]="'Total Cases'" [count]="statistics.cases"></app-case-card>
            </div>
            <div class="col-4">
                <app-case-card [title]="'Total Deaths'" [count]="statistics.deaths"></app-case-card>
            </div>
            <div class="col-4">
                <app-case-card [title]="'Total Recovered'" [count]="statistics.recovered"></app-case-card>
            </div>
        </div>
    </div>

    <div id="total-stats" class="statistics">
        <h1 class="title">Today</h1>
        <div class="row">
            <div class="col-4">
                <app-case-card [title]="'Cases'" [count]="statistics.todayCases"></app-case-card>
            </div>
            <div class="col-4">
                <app-case-card [title]="'Deaths'" [count]="statistics.todayDeaths"></app-case-card>
            </div>
            <div class="col-4">
                <app-case-card [title]="'Recovered'" [count]="statistics.todayRecovered"></app-case-card>
            </div>        
        </div>
    </div>

</div>