<div class="country-container">
    <div class="header">
        <div class="row">
            <div class="col-3">
                <h1 class="title">Country</h1>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="search" placeholder="Search" [(ngModel)]="searchKey" (keyup)="search(searchKey)">
            </div>
            <div class="col-3">
                <select  class="form-select" name="sort" (change)="sort(sortKey)" [(ngModel)]="sortKey">
                    <option value="country">Country Name</option>
                    <option value="cases">Number of cases</option>
                    <option value="deaths">Number of deaths</option>
                    <option value="recovered">Number of recovered</option>
                </select>
            </div>
            <div class="col-3">
                <div class="paginate">
                    <span>{{pager.currentPage}} to {{pager.itemsPerPage}} of {{countriesData.length}}</span>
                    <span>
                        <button class="btn page-btn prev" (click)="previous()">
                            <i class="fas fa-chevron-left"></i>
                        </button>&nbsp;
                        <button class="btn page-btn next" (click)="next()">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="country-cards-wrapper">
        <app-country-card *ngFor="let country of countries" [country]="country"></app-country-card>
    </div>
</div>