.case-card {
    min-height: 200px;
    border: 1px solid #347deb;
    border-radius: 20px;
    color: #347deb;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.case-card .title {
    font-weight: 200;
    font-size: 25px;
}

.case-card .count {
    font-size: 50px;
}