.dashlayout-container {
    height: 100%;
}

.dashlayout-container .main {
    // width: 100%;
}

/* Style page content */
.main {
    margin-left: 48px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%;
}