<div class="country-card">
    <div class="header">
        <!-- <span>
            <img alt="Flag image" [src]="country.coutryInfo?.flag"/>
        </span>
        <h2>{{country.country}}</h2> -->
        <div class="row">
            <div class="col-6"><img alt="Flag image" [src]="country.countryInfo.flag"/></div>
            <div class="col-6"><h2>{{country.country}}</h2></div>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-4">
                <h3>Cases</h3>
                <h3>{{country.cases | number}}</h3>
            </div>
            <div class="col-4">
                <h3>Deaths</h3>
                <h3>{{country.deaths | number}}</h3>
            </div>
            <div class="col-4">
                <h3>Recovered</h3>
                <h3>{{country.recovered | number}}</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-4">
                <h3>Tests</h3>
                <h3>{{country.tests | number}}</h3>
            </div>
            <div class="col-4">
                <h3>Population</h3>
                <h3>{{country.population | million}}</h3>
            </div>
            <div class="col-4 edit">
                <button class="btn edit-btn">
                    <i class="fas fa-pen"></i>
                </button>
            </div>

        </div>
    </div>
</div>
