<div class="edit-country-container">

    <h1 class="title">Edit {{selectedCountry}}</h1>

    <div class="edit-form">
        <form name="edit-country-form" (submit)="onSubmit()" [formGroup]="editForm">
            
            <div class="edit-country-form-wrapper">
                <div class="row">
                    <div class="col-6 form-floating">
                        <input type="text" class="form-control" id="cases" placeholder="Cases"
                             name="cases" autocomplete="off"  formControlName="cases"  pattern="[0-9]+" required>
                        <label for="cases">Cases</label> 
                        <div *ngIf="submitted && cases?.errors || (cases?.touched || cases?.dirty)"  class="validation-error">
                            <p class="text-danger"
                            *ngIf="cases?.hasError('required')">
                            This field is required.
                            </p>
                            <p class="text-danger"
                            *ngIf="cases?.hasError('pattern')">
                            Enter numeric values.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 form-floating">
                        <input type="text" class="form-control" id="deaths" placeholder="Deaths"
                             name="deaths" autocomplete="off" formControlName="deaths"  pattern="[0-9]+" required>
                        <label for="deaths">Deaths</label> 
                        <div *ngIf="submitted && deaths?.errors || (deaths?.touched || deaths?.dirty)"  class="validation-error">
                            <p class="text-danger"
                            *ngIf="deaths?.hasError('required')">
                            This field is required.
                            </p>
                            <p class="text-danger"
                            *ngIf="deaths?.hasError('pattern')">
                            Enter numeric values.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 form-floating">
                        <input type="text" class="form-control" id="recovered" placeholder="Recovered"
                             name="recovered" autocomplete="off"  formControlName="recovered"  pattern="[0-9]+" required>
                        <label for="recovered">Recovered</label> 
                        <div *ngIf="submitted && recovered?.errors || (recovered?.touched || recovered?.dirty)"  class="validation-error">
                            <p class="text-danger"
                            *ngIf="recovered?.hasError('required')">
                            This field is required.
                            </p>
                            <p class="text-danger"
                            *ngIf="recovered?.hasError('pattern')">
                            Enter numeric values.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 form-floating">
                        <input type="text" class="form-control" id="tests" placeholder="Tests"
                             name="tests" autocomplete="off"  formControlName="tests"  pattern="[0-9]+" required>
                        <label for="tests">Tests</label> 
                        <div *ngIf="submitted && tests?.errors || (tests?.touched || tests?.dirty)" class="validation-error">
                            <p class="text-danger"
                            *ngIf="tests?.hasError('required')">
                            This field is required.
                            </p>
                            <p class="text-danger"
                            *ngIf="tests?.hasError('pattern')">
                            Enter numeric values.
                            </p>
                        </div>
                    </div>
                </div>
                
                
            </div>

            
            <div class="btn-container">
                <span>
                    <button class="btn btn-light" (click)="onCancel()">Cancel</button>
                &nbsp;
                <button class="btn btn-primary" type="submit">Save</button>
                </span>
            </div>
        </form>
    </div>

</div>